* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html body {
  font-family: "Roboto", sans-serif;
  /* padding-left: 5vw; */
}

/* html {
  font-size: calc(1em + 1vw);
} */
/* Navbar Start */
.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  padding: 1% 0%;
  top: 0px;
  background-color: transparent;
  z-index: 10;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5 rem;
}

.brand-title img {
  width: 50%;
  height: auto;
  margin-left: 50px;
}

.navbar-links {
  margin-left: 200px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #222222;
  padding: 1rem;
  display: block;
  font-size: 1vw;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.navbar-links li:hover {
  background-color: #90acd1;
  border-radius: 25px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 10px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #e45447;
  border-radius: 10px;
}

/* Navbar End */

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Heading Start */

.wrapper {
  display: grid;
  grid-template-columns: 35% 40% 25%;
}

.home {
  min-height: 100vh;
}

.home-left-side {
  /* margin: 5.8% 0; */
  padding-top: 25%;
  margin-left: 50px;
}

.home .me {
  background: #90acd1;
  padding: 18px;
  display: inline-block;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  position: relative;
  animation: moveInBottom 0.5s ease-out 0.6s;
  animation-fill-mode: backwards;
}

.home .me::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;
  width: 0;
  height: 0;
  border-left: 26px solid transparent;
  border-right: 0px solid transparent;
  border-top: 24px solid #90acd1;
  /* margin-bottom: 15px; */
}

.home h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3vw;
  margin: 0 0 2% 0;
  transition: all 0.4s;
  animation: moveInBottom 1s ease-out 1s;
  animation-fill-mode: backwards;
  width: 80%;
  margin-top: 20px;
}

.home p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 70%;
  font-size: 1.5vw;
  line-height: 1.3;
  color: #777777;
  margin-bottom: 50px;
  transition: all 0.4s;
  animation: moveInBottom 1s ease-out 1.4s;
  animation-fill-mode: backwards;
}
.home .web {
  color: #e45447;
}

.home .front {
  color: #90acd1;
}

/* .middle-side {
  display: grid;
  margin: 5% 0;
  background-image: url("./images/Background.png");
  background-size: 50;
} */

.my-img {
  padding-top: 28%;
  width: 60%;
  animation: moveInBottom 0.4s ease-out 0.3s;
  animation-fill-mode: backwards;
}

/* .home .seperator {
  background-image: url("./images/Background.png");
  height: 100vh;
} */

.home-right-side img {
  width: 100%;
  height: 100vh;
  background-image: url("./images/Background.png");
  background-size: cover;
}

/* Button styling start */
button .btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}
.home a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 20px 30px;
  background-color: #e45447;
  border: 1px solid #e45447;
  border-radius: 45px;
  cursor: pointer;
}

.btn {
  font-size: 20px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInTop 0.3s ease-out 1.85s;
  animation-fill-mode: backwards;
}

/* About Start */

#about {
  padding: 3% 0px;
}

.wrapper-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding-top: 2%; */
}

#about {
  background-color: #f6f8f8;
}

#about h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
  line-height: 44px;
  text-align: center;
}

#about p {
  text-align: left;
  padding: 0 15%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  line-height: 1.625em;
  font-size: 20px;
}

/* About End */

/* Footer */
#footer {
  padding: 1% 25%;
  background-color: #fff;
  text-align: center;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #777777;
}

.social-icons {
  color: #777777;
  margin: 3% 15px;
  font-size: 36px;
}

.social-icons:hover {
  color: #e45447;
  cursor: pointer;
}

.copyright {
  margin-bottom: 10px;
  margin-top: 10px;
}

#footer img {
  width: 70px;
  margin-bottom: 20px;
}

/* footer end */

/* Animation Definitions Start */

@media (max-width: 1550px) {
  .home-left-side {
    padding-top: 250px;
  }

  .my-img {
    padding-top: 250px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 40% 40% 20%;
  }

  .navbar-links li a {
    padding: 0 1rem;
    font-size: 1.7vw;
  }
}

@media (max-width: 1300px) {
  body {
    padding: 0px;
  }
}

@media (max-width: 1000px) {
  .wrapper .middle-side {
    display: none;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
  }
}

@media (max-width: 750px) {
  body {
    padding-left: 0px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  header {
    z-index: 10;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    margin-left: 0;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0 1rem;
    font-size: 2.5vw;
  }

  .navbar-links.active {
    display: flex;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
  }

  .home h1 {
    font-size: 60px;
  }
  .home p {
    font-size: 30px;
  }

  .wrapper .middle-side {
    display: none;
  }

  /* .about-right-side {
    display: none;
  } */

  .navbar {
    position: sticky;
  }

  .wrapper-about {
    display: block;
    text-align: center;
  }

  /* Footer */
  .social-icons {
    color: #777777;
    margin: 3% 5px;
    font-size: 25px;
  }

  .copyright {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
  }
}

/* Animation Definitions End */

/* scroll  start*/

/* html:not([data-scroll="0"]) body {
  padding-top: 3em;
} */
html:not([data-scroll="0"]) .navbar {
  position: fixed;
  top: 0;
  justify-content: start;
  background-color: #fff;
  box-shadow: 0 0 0.5em -0.5em rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0;
}

html:not([data-scroll="0"]) .brand-title img {
  width: 40%;
  padding-top: 10px;
  margin-left: 50px;
}
/* scroll  end */
